[class^="grid-child"] {
    background-color: darkcyan;
}

.grid-parent {
    display: grid;
    
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

.transitions {
    height: 100px;
    width: 100px;
    margin-left: 100px;
    background-color: darkcyan;
    cursor: pointer;
    transition: transform 0.5s ease-in;
}

[class^="grid-child"]:hover {
    transform: scale(0.9);
}