* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    background-color: rgb(34, 34, 94);
    display: block;
    padding: 20px;
    text-align: center;
}

a:last-child {
    display: none;
}

a:hover {
    background-color: rgb(19, 19, 71);
}

@media only screen and (min-width: 758px) {
    a {
        float: left;
        width: 25%;
    }
}

@media only screen and (min-width: 1000px) {
    a {
        width: 20%;
    }

    a:last-child {
        display: block;
    }
}


