.left {
    float: left;
}

.right {
    float: right;
}

.border {
    border: 2px solid gray;
    padding: 0.5vw;
}

.header {
    height: 4vh;
    line-height: 4vh;
}

h1 {
    padding-left: 0.5vw;
    margin: 0;
}

#lookForInput {
    border-style: 2px 1px 1px 2px;
    border-color: lightyellow;
}