

/*height: 50vh;*/

/*background-image sirve para poner una imagen de fondo y dentro de los paréntesis de la url ponemos dónde se encuentra la imagen a poner de fondo */
/* background-image: url(); */

/* eje x: left center right // eje y: top center bottom
background-position: center bottom; */

/* background-attachment: fixed; */

/* Cuando la imagen es más pequeña que el contenedor */
/* background-repeat: no-repeat;
background-size: contain; */

/* Márgenes */
/* margin: 10px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;
margin-top: 10px; */

/* padding: 100 px //bottom y top 25px // left y right
padding: 100 px 25px 50px 2px //va en sentido de las agujas del reloj; top, right, bottom, left */



/* Posicionamiento. Tipos de Display: none, inline, block, inline-block */

/*[class^="box"] {
    background-color: steelblue;*/

/*El sombrerito ^ que se pone delante del = significa que se aplique a todas las clases que empiecen por "box" */

.box-0 {
    display: none; 
} /* display: none se utiliza para ocultar elementos */

.box-3, .box-4, .box-3 p, .box-4 p {
    display: inline-block;
}

.box-5, .box-6, .box-5 p, .box-6 p {
    display: inline;
}

.rectangle {
    background-color: teal;
    height: 50px;
    width: 25%;
}

/* Centrar horizontalmente (eje X) */

.x-centered {
    margin: auto;
} /* margin: auto, centra horizontalmente el contenedor */

/* Posición relativa */

.pos-relative {
    position: relative;
    left: 100px;
    top: -50px;
    z-index: -1;
}

/* Posición absoluta */

.pos-absolute-parent {
    height: 300px;
    border: 15px solid tomato;
    position: relative;
}

.pos-absolute-child {
    height: 50px;
    width: 50px;
    background-color: #333;
    position: absolute; /* posición absoluta respecto al padre */
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

/* Posición fija/ fixed */

.pos-fixed {
    background-color: #333;
    padding: 20px 30px;
    position: fixed; /* el botón se quedaría fijo respecto a la página */
    bottom: 30px;
    right: 30px;
    z-index: 1;
}

.pos-fixed a {
    color: white;
    text-decoration: none;
}

/* Posición sticky */ 

.pos-sticky {
    background-color: steelblue;
    padding: 15px 25px;
    position: sticky; /* Se queda el texto fijo mientras no muevas el scroll hacia abajo, si lo haces, el texto se va escondiendo, sigue al scroll */ 
    top: 0;
}

.pos-sticky a {
    text-decoration: none;
    color: white;
}

/* Posicionamiento flotante: divs dentro de otros divs */

.pos-float-parent {
    border: 5px solid royalblue;
    color: white;
    /* overflow: hidden; sirve para controlar el desbordamiento. Respeta, por tanto, todo el contenido (para que el padre no colapse si todos los hijos son flotantes. Se le obliga que respete a los hijos */
}

.pos-float-child-1 {
    background-color: brown;
    height: 100px;
    width: 33.3%;
    float: left;
}

.pos-float-child-2 {
    background-color: darkblue;
    height: 100px;
    width: 33.3%;
    float: left; 
}

.pos-float-child-3 {
    background-color: darkorange;
    height: 100px;
    width: 33.3%;
    float: left; 
}

.pos-float-child-4 {
    background-color: yellowgreen;
    height: 50px;
    width: 100%;
    clear: both; /* Garantiza que no va a colapsar un flotante y empieza en una línea limpia */
}

/* Overflow - Gestión del desbordamiento del contenido */

[class^="overflow-parent"] {
    width: 200px;
    height: 100px;
    border: 3px dashed black;
    margin-bottom: 150px;
}

.overflow-parent-1 {
   overflow: hidden;
}

.overflow-parent-2 {
    overflow: visible;
}

.overflow-parent-3 {
    overflow: scroll;
}

/* Tamaño de cajas (box-sizing) */

.box-sizing-parent {
    width: 200px;
    height: 200px;
    border: 10px solid goldenrod;
}

.box-sizing-child {
    width: 100%;
    height: 50px;
    background-color: gray;
    border: 10px solid darkolivegreen;
    box-sizing: content-box; /* valor por defecto */
}

.border-box {
    margin-top: 10px;
    box-sizing: border-box;
}

h1 {
    border: 2px solid gray;
    width: 100%;
    padding: 25px;
    float: left; 

}

.inputBlock {
    float: right;

}

.p-f-parent {
    border: 2px solid gray;
}


