:root {
    --purple-light: #7e3af2;
}

* {
    box-sizing: border-box;
    font-family: 'Ubuntu bold', Arial, Helvetica, sans-serif;
}

.grid-parent {
    display: grid;
    grid-template: 1fr/ 1fr 5fr;
}

a {
    background-color: var(--purple-light);
    color: white;
    text-decoration: none;
}

body {
    padding: 0 200px 0 150px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 300px 10px 10px;
}

#product, #viewMore {
    display: flex;
    justify-content: space-between;
    background-color: var(--purple-light);
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

#searchInput {
    padding-left: 1.7em;
}

.bell {
    color: var(--purple-light);
}

.column-1 {
    margin-right: 50px;
}

.fa-search {
    position: relative;
    left: 1.7em;
}

.fa-users {
    color: orange;
    background-color: rgb(240, 215, 169);
    
}

.fa-money-check {
    color: green;
    background-color: palegreen;
}

.fa-shopping-cart {
    color: blue;
    background-color: lightblue;
}

.fa-comment-dots {
    color:darkcyan;
    background-color: lightcyan;
}

#dashboard-summary {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

#dashboard-summary > span {
    border: 1px solid #f2f3f4;
    padding: 10px;
    border-radius: 10px;
}

#dashboard {
    padding: 10px;
    background-color: #f9fafb;
}

#dashboard p {
    margin: 0;
}

#dashboard span {
    height: min-content;
    background-color: white;
}

#dashboard-summary div , #dashboard img, #dashboard div.person {
    display: inline-block;
    vertical-align: middle;
}

#dashboard img {
    width: 40px;
}

#dashboard i.fas {
    margin-right: 5px;
}

.fas {
    padding: 7px;
    border-radius: 20px;
}

#dashboard p.highlight {
    font-weight: bold;
    margin-top: 10px;
}

#main-table p.highlight {
    margin-top: 0px;
}

ul > li {
    list-style: none;
    margin: 0;
}

#main-table > table {
    margin-top: 30px;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

#main-table tr {
    border-bottom: 1px solid #f2f3f4;
}

#main-table thead tr {
    background-color: #f9fafb;
    border-top: 1px solid #f2f3f4;
    color: #707275;
}

#main-table tbody td {
    background-color: white;
}

#main-table th, #main-table td {
    padding: 10px;
}

#main-table tr > :first-child {
    border-left: 1px solid #f2f3f4;
}

#main-table tr > :last-child {
    border-right: 1px solid #f2f3f4;
}

footer {
    display: flex;
    justify-content: space-between;
    border: 1px solid #f2f3f4;
    border-top-width: 0px;
    padding: 10px;
    background-color: #f9fafb;
}