:root {
    --purple-light: #7e3af2;
}

* {
    box-sizing: border-box;
    font-family: 'Ubuntu bold', Arial, Helvetica, sans-serif;
}

.grid-parent {
    display: grid;
    grid-template: 1fr/ 1fr 5fr;
}

a {
    color: white;
    text-decoration: none;
}

body {
    padding: 0 6vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2vw;
}

#product, #viewMore {
    display: flex;
    justify-content: space-between;
    background-color: var(--purple-light);
    color: white;
    padding: 15px;
    font-weight: bold;
    border-radius: 5px;
}

#searchInput {
    padding-left: 1.7em;
    width: 30vw;
}

.bell {
    color: var(--purple-light);
}

.column-1 {
    margin-right: 2vw;
}

.fa-search {
    position: relative;
    left: 1.7em;
}

.fa-users {
    color: orange;
    background-color: rgb(240, 215, 169);
    
}

.fa-money-check {
    color: green;
    background-color: palegreen;
}

.fa-shopping-cart {
    color: blue;
    background-color: lightblue;
}

.fa-comment-dots {
    color:darkcyan;
    background-color: lightcyan;
}

#dashboard-summary {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

#dashboard-summary > span {
    border: 1px solid #f2f3f4;
    padding: 10px;
    border-radius: 10px;
}

#dashboard {
    padding: 2vw;
    background-color: #f9fafb;
    border-radius: 10px;
}

#dashboard p {
    margin: 0;
}

#dashboard-summary span {
    height: min-content;
    background-color: white;
}

#dashboard-summary div , #dashboard img, #dashboard div.person {
    display: inline-block;
    vertical-align: middle;
}

#dashboard div.person {
    margin-left: 10px;
}

img.fas {
    width: 40px;
}

#dashboard i.fas {
    margin-right: 5px;
}

#dashboard-summary i.fas {
    padding: 7px;
}

.fas {
    border-radius: 20px;
}

td .status {
    border-radius: 40px;
    padding: 6px;
    font-weight: bold;
}

.approved {
    color:green;
    background-color: lightgreen;
}

.denied {
    color:red;
    background-color: rgb(228, 156, 156);
}

.expired {
    color: black;
    background-color: lightgray;
}

#dashboard p.highlight {
    font-weight: bold;
    margin-top: 10px;
}

#main-table p.highlight {
    margin-top: 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    
}

ul > li {
    padding: 1vh 1vw;
    border-left: 5px solid white;
}

ul > li:hover {
    border-color: var(--purple-light);
    font-weight: bold;
    cursor: all-scroll;
}

#main-table > table {
    margin-top: 30px;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

#main-table tr {
    border-bottom: 1px solid #f2f3f4;
}

#main-table thead tr, footer {
    background-color: #f9fafb;
    border-top: 1px solid #f2f3f4;
    color: #707275;
    font-weight: bold;
}

#main-table tbody td {
    background-color: white;
}

#main-table th, #main-table td {
    padding: 10px;
}

#main-table tr > :first-child {
    border-left: 1px solid #f2f3f4;
}

#main-table tr > :last-child {
    border-right: 1px solid #f2f3f4;
}

footer {
    display: flex;
    justify-content: space-between;
    border: 1px solid #f2f3f4;
    border-top-width: 0px;
    padding: 10px;
    background-color: #f9fafb;
}

footer a {
    color: inherit;
    padding: 5px 10px;
    cursor: all-scroll;
}

footer a:hover {
    background-color: var(--purple-light);
    color:white;
}

i.fa-bars {
    display: none;
    font-size: 1.5em;
}

@media only screen and (max-width: 1023px) {

    body {
        padding: 0;
        margin: 0;
        font-size: 80%;
    }

    footer, .grid-parent, i.fa-bars {
        display: block;
    }

    .column-1, i.fa-rocketchat, #dashboard img {
        display: none;
    }

    i.fa-bars {
        color: var(--purple-light);
    }

    #pagination {
        margin-top: 10px;
    }

    #dashboard-summary {
        grid-template: repeat(4, 1fr) / 1fr;
    }


}

@media only screen and (max-width: 1101px) {

    body {
        font-size: 85%;
    }
}