:root {
    --purple-light: #7e3af2;
}

* {
    box-sizing: border-box;
}

.button {
    background-color: var(--purple-light);
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

h2 {
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: var(--purple-light);
}

body {
    background-color: lightgray;
    padding: 20px 200px;
    font-family: 'Ubuntu bold', Arial, Helvetica, sans-serif;
}

hr {
    margin: 40px 0;
}

form {
    padding: 60px;
}

form input {
    width: 100%;
    margin-top: 5px;
}

.inputBlock {
    margin-bottom: 20px;
}

.inputBlock label {
    font-size: 18px;
}

.github, .twitter {
    color: black;
}

.wrapper {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #888888;
}

.fondo {
    background-image: url(../imagenes_final/jarron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px 0 0 15px;
}

a.social {
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

#account-links {
    font-size: 18px;
    padding-left: 0;
    list-style: none;
    margin-top: 30px;
}

#account-links > li {
    margin-bottom: 15px;
}


@media only screen and (max-width: 1024px) {

    h2 {
        margin: 0 0 20px 0;
    }

    body {
        padding: 10px;
        margin: 0;
    }

    form {
        padding: 25px;
    }

    .fondo {
        border-radius: 15px 15px 0 0;
    }

    .wrapper {
        grid-template: 150px 1fr / 1fr;
    }
}

@media only screen and (min-width: 512px) and (max-width: 1024px) {

    .wrapper {
        grid-template: 300px 1fr / 1fr;
    }

}