* {
  box-sizing: border-box;
}

body {
  background-color: #383428;
}

.movie-item > img {
  width: 30px;
  float: left;
}

.copyright{
  position: absolute;
  right: 15px;
  margin: 0;
} 

.ul, .nav-item, .copyright {
  color: white;
  font-weight: bold;
}

.ul {
  text-align: center;
  margin: 0 auto;
}

.movie-item > img {
  width: 150px;
  float: left;
  border-radius: 5px;
  border: 2px solid black;
}

.movie-item {
  background-color: aliceblue;
}

.upcoming {
  padding: 0 16vw;
}

.movie {
  color: black;
  text-decoration: none;
  background-color: transparent;
  font-size: x-large;
  font-weight: bold;
}

.movie:hover {
  color: black;
  text-decoration: none;
}

.header {
  background-image: url(../images/title.png);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 60px;
  margin: 1vw auto;
}

.header span {
  display: none;
}

.card {
  margin: 0 auto 3vw;
  padding: 3vw;
  min-height: 730px;
  background-color: aliceblue;
}

.average {
  font-weight: bold;
  font-size: x-large;
  color: black;
  text-decoration: underline;
}

.card-title {
  font-weight: bold;
}

.date {
  text-decoration: underline;
}

.overview {
  margin-top: 20px;
}

