* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #1a2130;
    width: 100%;
    padding: 0 2vw;
}

h1, ul > li {
    color: white;
    font-weight: bold;
}

h3 {
    color: #4a90e2;
    margin-top: 8px;
}

.title {
    text-align: center;
    margin: 3vw;
}

ul > li {
    list-style: none;
    padding: 0.5vw 1vw;
    height: 2vw;
    line-height: 1vw;
}

ul > li:nth-child(odd) {
    border: 1px solid #1f2c42;
    background-color: #1f2c42;
}

.list > ul {
    padding-top: 4vw;
}

#main-wrapper {
    display: grid;
    grid-template: 1fr / 1fr 3fr;
}

#main-column {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(4, 1fr);
    align-items: center;
    gap: 0 30px;
    padding-top: 4vw;
}

#main-column > div {
    background-color: white;
    text-align: center;
    height: 2vw;
    line-height: 1vw;
    padding: 0.5vw 1vw;
}

h4.price {
    color: #4a90e2;
}

span.description {
    color: #9b9ba8;
}

#main-column-header {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    align-items: center;
    gap: 0 30px;
}

#main-column-header > div {
    height: 8vw;
}

footer {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
}

