* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #1a2130;
    width: 100%;
    padding: 0 2vw;
}

h1, ul > li {
    color: white;
    font-weight: bold;
}

h3 {
    color: #4a90e2;
    margin-top: 8px;
}

.title {
    text-align: center;
    margin: 3vw;
}

ul > li {
    list-style: none;
    padding: 0.5vw 1vw;
    height: 2vw;
    line-height: 1vw;
}

ul > li:nth-child(odd) {
    border: 1px solid #1f2c42;
    background-color: #1f2c42;
}

#main-wrapper {
    display: grid;
    grid-template: 1fr / 25vw 1fr;
}

#main-column {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(4, 1fr);
    align-items: center;
    gap: 0 30px;
}

#main-column > div {
    background-color: white;
    text-align: center;
    height: 2vw;
    line-height: 1vw;
    padding: 0.5vw 1vw;
    border-left: 4px solid #4a90e2;
    border-right: 4px solid #4a90e2;
}

h4.price {
    color: #4a90e2;
}

h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

span.description {
    color: #9b9ba8;
}

#main-column-header, footer, #main-column-header {
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    align-items: center;
    gap: 0 30px;
    text-align: center;
}

#main-column-header > div, footer > div {
    background-color: white;
    border-left: 4px solid #4a90e2;
    border-right: 4px solid #4a90e2;
}

footer, #main-column-header {
    margin-left: 25vw;
}

footer > div {
    border-bottom: 4px solid #4a90e2;
    border-radius: 0 0 10px 10px;
}

#main-column-header > div {
    height: 8vw;
    border-top: 4px solid #4a90e2;
    border-radius: 10px 10px 0 0;
    padding-top: 30px;
}

#main-column > div.information {
    background-color: #edf4fc;

}

.signUp {
    color: white;
    font-weight: bold;
    background-color: #4a90e2;
    border: 1px solid #4a90e2;
    padding: 10px;
    width: 10vw;
    border-radius: 10px;
    font-size: 1.5em;
    margin-bottom: 30px;
}

