.flex-parent, .flex-parent-1, .flex-footer {
    border: 1px solid black;
}

.flex-parent, .flex-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.flex-parent-1 {
    padding: 10px;
}

.grid-parent {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid-child-1, .grid-child-2, .grid-child-3 {
    border: 1px solid black;
}







